{% extends 'base_menu.html' %}
{% load static from staticfiles %}
<!-- Header  -->
{% block position_absolute_header %} 
	Position-Absolute-Top
{% endblock position_absolute_header %}

<!-- Section Menu -->
{% block section %}
	<!-- Menu Grafico -->
	
	<div class="MenuGrafico">
		<!-- Fondo del Menu Principal -->
		<img src="{% block fondo_imagen %} {% endblock fondo_imagen %}" alt="" class="MenuGrafico-Fondo"/>
		<!-- Items de Menu Grafico -->
		<div class="MenuGrafico-Marco" >
			<ul class="MenuGrafico-Marco-Items"  id="MenuGrafico" >
				<li class="Item">
					 <!-- Item - Avatar -->
				 	<figure class="Item-Avatar">
				 		<a href="{% url 'usuario:create' %}" class="Item-Avatar-Link">
				 			<img src="{% static 'imagenes/png/Usuario-6.png' %}" alt=""  class="Item-Avatar-Link-Imagen"/>
				 		</a>
				 	</figure>
				 	<div class="Boton">
				 		<a href= "{% url 'usuario:create' %}"   class="Boton-Link">
				 			Nuevo 
				 		</a>
				 	</div>   
				</li>
				<li class="Item">
					 <!-- Item - Avatar -->
				 	<figure class="Item-Avatar">
				 		<a href="{% url 'usuario:list' %}" class="Item-Avatar-Link">
				 			<img src="{% static 'imagenes/png/Usuario-1.png' %}" alt=""  class="Item-Avatar-Link-Imagen"/>
				 		</a>
				 	</figure>
				 	<div class="Boton">
				 		<a href= "{% url 'usuario:list' %}"  class="Boton-Link">
				 			Consulta
				 		</a>
				 	</div>   
				</li>
			</ul>
		</div>
	</div>
{% endblock section %}

<!-- Header  -->
{% block position_absolute_footer %} 
	Position-Absolute-Bottom
{% endblock position_absolute_footer %}