@font-face {
    font-family: 'icomoon';
    src:    url('../fonts/icomoon.eot?fr71fw');
    src:    url('../fonts/icomoon.eot?fr71fw#iefix') format('embedded-opentype'),
        url('../fonts/icomoon.ttf?fr71fw') format('truetype'),
        url('../fonts/icomoon.woff?fr71fw') format('woff'),
        url('../fonts/icomoon.svg?fr71fw#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-3d_rotation:before {
    content: "\e84d";
}
.icon-favorite_outline:before {
    content: "\e900";
}
.icon-clock:before {
    content: "\e901";
}
.icon-earth:before {
    content: "\e902";
}
.icon-list3:before {
    content: "\e903";
}
.icon-grid:before {
    content: "\e904";
}
.icon-minus:before {
    content: "\e905";
}
.icon-credit-card:before {
    content: "\e906";
}
.icon-pencil2:before {
    content: "\e907";
}
.icon-images:before {
    content: "\e908";
}
.icon-film:before {
    content: "\e909";
}
.icon-library:before {
    content: "\e90a";
}
.icon-file-text:before {
    content: "\e90b";
}
.icon-profile:before {
    content: "\e90c";
}
.icon-file-text2:before {
    content: "\e90d";
}
.icon-envelop:before {
    content: "\e90e";
}
.icon-bubbles4:before {
    content: "\e90f";
}
.icon-users:before {
    content: "\e910";
}
.icon-user-plus:before {
    content: "\e911";
}
.icon-user-minus:before {
    content: "\e912";
}
.icon-user-check:before {
    content: "\e913";
}
.icon-spinner:before {
    content: "\e914";
}
.icon-spinner2:before {
    content: "\e915";
}
.icon-spinner3:before {
    content: "\e916";
}
.icon-list-numbered:before {
    content: "\e917";
}
.icon-list:before {
    content: "\e918";
}
.icon-list2:before {
    content: "\e919";
}
.icon-menu:before {
    content: "\e91a";
}
.icon-star-empty:before {
    content: "\e91b";
}
.icon-cancel-circle:before {
    content: "\e91c";
}
.icon-cross:before {
    content: "\e91d";
}
.icon-loop2:before {
    content: "\e91e";
}
.icon-heart:before {
    content: "\e91f";
}
.icon-cloud:before {
    content: "\e920";
}
.icon-star:before {
    content: "\e921";
}
.icon-tv:before {
    content: "\e922";
}
.icon-sound:before {
    content: "\e923";
}
.icon-video:before {
    content: "\e924";
}
.icon-trash:before {
    content: "\e925";
}
.icon-user:before {
    content: "\e926";
}
.icon-key:before {
    content: "\e927";
}
.icon-search:before {
    content: "\e928";
}
.icon-settings:before {
    content: "\e929";
}
.icon-camera:before {
    content: "\e92a";
}
.icon-tag:before {
    content: "\e92b";
}
.icon-lock:before {
    content: "\e92c";
}
.icon-bulb:before {
    content: "\e92d";
}
.icon-pen:before {
    content: "\e92e";
}
.icon-diamond:before {
    content: "\e92f";
}
.icon-display:before {
    content: "\e930";
}
.icon-location:before {
    content: "\e931";
}
.icon-eye:before {
    content: "\e932";
}
.icon-bubble:before {
    content: "\e933";
}
.icon-stack:before {
    content: "\e934";
}
.icon-cup:before {
    content: "\e935";
}
.icon-phone:before {
    content: "\e936";
}
.icon-news:before {
    content: "\e937";
}
.icon-mail:before {
    content: "\e938";
}
.icon-like:before {
    content: "\e939";
}
.icon-photo:before {
    content: "\e93a";
}
.icon-note:before {
    content: "\e93b";
}
.icon-clock2:before {
    content: "\e93c";
}
.icon-paperplane:before {
    content: "\e93d";
}
.icon-params:before {
    content: "\e93e";
}
.icon-banknote:before {
    content: "\e93f";
}
.icon-data:before {
    content: "\e940";
}
.icon-music:before {
    content: "\e941";
}
.icon-megaphone:before {
    content: "\e942";
}
.icon-study:before {
    content: "\e943";
}
.icon-t-shirt:before {
    content: "\e944";
}
.icon-fire:before {
    content: "\e945";
}
.icon-clip:before {
    content: "\e946";
}
.icon-shop:before {
    content: "\e947";
}
.icon-calendar:before {
    content: "\e948";
}
.icon-wallet:before {
    content: "\e949";
}
.icon-vynil:before {
    content: "\e94a";
}
.icon-truck:before {
    content: "\e94b";
}
.icon-world:before {
    content: "\e94c";
}
.icon-note-list:before {
    content: "\e94d";
}
.icon-trash2:before {
    content: "\e94e";
}
.icon-trash3:before {
    content: "\e94f";
}
.icon-mail2:before {
    content: "\e950";
}
.icon-search2:before {
    content: "\e951";
}
.icon-sound2:before {
    content: "\e952";
}
.icon-music2:before {
    content: "\e953";
}
.icon-star2:before {
    content: "\e954";
}