@import 'normalize.styl'
@import 'base_menu.styl'
@import 'menu.styl'
@import 'list.styl'
@import 'fonts.styl'
/*
	Desktop 
		h1 3em 
		h2 2.5em
	celular
		h1 1.2em 
		h2 1em
*/

/*
	Colores
*/
amarillo_claro = #ffe788
azul = #225aa4
azul_acero = #1e6381
azul_oscuro = #273b47
celeste = #298fb7
celeste_claro = #23a2dc
celeste_agua = #c2e1f5
gris = #FAFAFA
gris_oscuro = #333636
naranja = #DD4F24
transparente = rgba(255, 255, 255, 0.5)
turqueza = #1bd6e0
verde_agua = #cdf1e2
verde_claro = #80BCA3
verde_oscuro = #35656d
verde_negro = #033333
rojo = #ff4842
li 
	list-style none
a
article
aside
body
div
figcaption
figure
h1
h2
h3	
header
li
p
section
ul
video
	box-sizing border-box
	margin 0
	padding 0
a 
	text-decoration none
	color white
body 
	background gris_claro
	font-family "Comic Sans MS"
	font-size 16px
.Display_None 
	display none
.Fondo-Turqueza-Transparente 
	background rgba(turqueza, .7)
.Fondo-Rojo-Transparente 
	background rgba(rojo, .7)
.Fondo-Azul
	background azul
.Fondo-Rojo 
	background rojo
.Fondo-Rojo-Encendido 
	background red
.FondoAmarillo
	background amarillo_claro
.Border-Radius-Circular
	border-radius 50%
.Position-Absolute
	position absolute
.Position-Absolute-Top
	position absolute
	top 0
.Position-Absolute-Bottom
	position absolute
	bottom 0
.Position-Initial
	position initial