<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>List view</title>
</head>
<body>
	<h1>{{object.nombre}}</h1>
	<p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam quis repellendus esse, quae quos error, dicta numquam tempora voluptatem ipsa! Debitis expedita mollitia necessitatibus quod quibusdam saepe ullam facilis veritatis.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas, nobis, dicta. Fugiat, numquam asperiores optio molestiae iste reiciendis, eos, expedita, cupiditate recusandae deserunt quo harum quaerat dolores ad corporis. Iure.</p>
</body>
</html>